@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
.zalando-sans-regular, body {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.zalando-sans-bold {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: rgb(250, 250, 250);
  box-shadow: 2px 0px 7px rgba(44, 44, 44, 0.4);
  border-bottom: solid 8px #ef4460;
}
.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header div h2 {
  text-align: center;
}
.header input {
  height: 32px;
}
.header input:focus {
  outline-color: #ef4460;
}
.header img {
  width: 32px;
  height: 32px;
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 4px;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  border-bottom: solid 6px #ef4460;
  box-shadow: 4px 2px 8px rgba(44, 44, 44, 0.1);
}
.card p,
.card h2 {
  margin: 2px 4px 2px 4px;
}
.card img {
  width: 100%;
  cursor: pointer;
}

.productContainer {
  width: 60%;
  margin: auto;
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.productDetailsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  width: 60%;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 16px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 4px 2px 8px rgba(44, 44, 44, 0.1);
}
.productDetailsContainer .productDetails {
  display: flex;
  flex-direction: column;
}
.productDetailsContainer .productDetails img {
  margin: auto;
}
.productDetailsContainer .productDetails button {
  width: 64px;
  margin: 4px;
  padding: 4px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}